{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<!-- Sign up section -->
<section id="signup">
    <div class="container mb-5 col-md-8 " style="height: 55vh; box-shadow: 20px 20px 50px 10px #cdf0ef inset;">
        <div class="row mt-5">
            <div class="col-md-8 mt-4 offset-md-2 text-dark">
                <h2 class="mt-3">{% trans "Sign Up" %}</h2>
                <p class="mt-2" style="font-size:1.6rem">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2 text-dark">
                <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <button class="btn right btn-lg btn-success mt-3" type="submit">{% trans "Sign Up" %} &raquo;</button>
                </form>
            </div>
        </div>
    </div>
</section>





{% endblock %}