body {
    background-color: #36eb11;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom: 60px;
    height: 100vh;

}

/* -------------------------------------------------logo */
.red-o {
    color: #E84610;
}

.thin {
    font-weight: 300;
}

/*----------------------------------------Nav bar buttons */
.navbar-brand {
    font-family: 'Kalam', cursive;
}

.navbar-brand:hover {
    font-weight: 600;
}

.dropdown {
    margin: 5px;
}

.nav-link:hover {
    text-decoration: underline;
    transition: ease-in-out;
}

/*-----------------------------------------------footer*/
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    height: 100px;
    margin-top: 30px;
    background-color: #c8dbc4;
}

.hello {
    height: 300px;
    background-color: yellow;
    color: #E84610;
}