{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="India's tourist attractions review blog. You can search or view tourist place in India and explore them.">
    <meta name="keywords" content="india, incredible-india, tourism, destinations, tourist-place, Hill stations, beaches, heritage, advanture">
    <title>Incredible India</title>
    <!-- FAVICON -->
    <!-- Put icon here which will be an indian map icon -->
    <link rel="icon" type="image/x-icon" sizes="32x32" href="{% static 'images/logos/favicon.png' %}">
    <!-- google fonts links-->
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,700;1,400&display=swap" rel="stylesheet">
    <!-- Bootstrap links-->

    <!-- CSS style sheet -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>

<body>

</body>

</html>