{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- All Blog enteries -->
<section id="blog-page">
    <h2 class="text-center mt-5">Welcome to the blog page</h2>
    <div class="text-center">
        <img src="{% static 'images/decorated-line.png' %}" alt="line decoraction">
    </div>
    <p class="text-center">India - <mark>"The Land of Diversity"</mark>. Majestic mountains, artistic temples, rip-roaring wildlife, colorful deserts and much more!<br>Have a glimpses of some Indian tourist places.</p>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in post_list %}
                    <div class="col-lg-4 mb-5">
                        <div class="card h-100">
                            <div class="card-body">
                                <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Go to the post detail page">
                                    <div class="image-container">
                                        <img class="card-img-top" src="{{ post.featured_image.url }}" alt="{{ post.title }} Image">
                                        <div class="card-img-overlay text-center">
                                            {% for des in post.destinations.all %}
                                            <h4 class="des-heading">{{ des }}</h4>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <h3 class="card-title mt-2 text-center">{{ post.title }}</h3>
                                </a>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-center"><strong>Best Time: </strong> <span>{{ post.best_time }}</span></li>
                                    <li class="list-group-item text-center"><strong>Ideal Duration: </strong> <span> {{ post.ideal_duration }}</span></li>
                                </ul>
                                <hr>
                                <div class="card-text">
                                    {{ post.content | slice:":250" | safe }}...
                                </div>
                                <div class="card-footer">
                                    <span>Author: {{ post.author }} | </span>
                                    <span>{{ post.created_on}} | </span>
                                    <span><i class="fas fa-heart"></i> {{ post.number_of_likes }} </span>
                                    <span class="text-secondary"> | <i class="far fa-comments"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link my-3">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link my-3"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif%}
    </div>
</section>
{% endblock content %}