{% extends "base.html" %}
{% load static %}
{% block content %}
<section id="destination_post">
    <h2 class="text-center">Destination: <span style="color:#05a098;">{{ des }}</span></h2>
    {% if destinations_post %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    {% for post in destinations_post %}
                    <div class="col-md-4">
                        <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Go to the post detail page">
                            <div class="image-container">
                                <img src="{{ post.featured_image.url }}" alt="{{ des }} Image">
                            </div>
                            <h2>{{ post.title }}</h2>
                        </a>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><strong>Best Time: </strong> <span>{{ post.best_time }}</span></li>
                            <li class="list-group-item"><strong>Ideal Trip Duration: </strong> <span> {{ post.ideal_duration }}</span></li>
                        </ul>
                        <p class="card-text">{{ post.content | slice:":280" }}...</p>
                        <div class="card-footer">
                            <span>Author: {{ post.author }} | </span>
                            <span>{{ post.created_on}} | </span>
                            <span><i class="fas fa-heart"></i> {{ post.number_of_likes }} </span>
                            <span class="text-secondary"> | <i class="far fa-comments"></i></span>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% empty %}
                    <div class="col-lg-8">

                        <h2 class="text-center">Sorry, currently there are no posts in this category.
                            <a class="hidden-link" href="{% url 'add_post' %}">Add one?</a></h2>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    {% endif%}
</section>
{% endblock %}