{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Hero section -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row" style="height:300px; width:100%; border:2px solid #033c64;">
                    <h2 class="text-center mt-5"> Here comes either the video or the slide</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog enteries column -->
<section class="bg-success p-4 text-dark bg-opacity-10" id="destination">
    <div class="container">
        <div class="row d-flex flex-wrap">
            <div class="col-md-12">
                <h2 class="text-center"><span style="color:#03736d;">Destinations</span> Tours In India</h2>
                <div class="text-center">
                    <img src="{% static 'images/decorated-line.png' %}" alt="line decoraction"></div>
                <p class="lead text-center" style="font-weight: 400;">From pilgrimage to wildlife and from adventure to leisure- View some Glimpses!</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <a href="{% url 'destinations' %}" class="post-link" aria-label="Go to the destinations page">
                                <div class="card-header" style="font-weight: 500;">
                                    <h2>Beaches</h2>
                                </div>
                                <img src="{% static 'images/beach.png' %}" class="card-img" alt="Beach image">
                            </a>
                            <div class="card-footer text-muted">
                                India having the longest stretch of coastline exhibits some serene beautiful beaches.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Hill Station</h2>
                            </div>
                            <img src="{% static 'images/hill_station.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                India has abundant hill stations spread all over the country that makes for a tranquil and picturesque destination for tourists.
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Historical</h2>
                            </div>
                            <img src="{% static 'images/historical-places.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                From palaces and forts to temples and monuments, many historic places in India reveal stunning craftsmanship.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Adventure</h2>
                            </div>
                            <img src="{% static 'images/river-rafting.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                India is one of those few countries, which offer something for all sorts of adventure seekers.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Wildlife</h2>
                            </div>
                            <img src="{% static 'images/wildlife.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                Explore India's National Parks to spot diverse animal life, including tigers, leopards, rhinos, birds and river dolphins.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Museam and Art Gellerie</h2>
                            </div>
                            <img src="{% static 'images/museam.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                Visit to a museum of the city that reflects the culture and history of ancient India in a most beautiful way.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Festivals and Parades</h2>
                            </div>
                            <img src="{% static 'images/holi-image.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                India’s vibrant character and a diverse ethnicity are revealed in its colorful fairs and festivals celebrated all over the country.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif%}
    </div>
</section>
<section class="bg-success mt-5 mb-3 p-4 text-dark bg-opacity-10">
    <div class="container">
        <div class="row d-flex flex-wrap">
            <div class="col-md-12">
                <h2 class="text-center"><span style="color:#03736d;">Destinations</span> Tours In India</h2>
                <!-- <h2 class="text-center" style="color:#02504d;">Destinations Tours In India</h2> -->
                <div class="text-center">
                    <img src="{% static 'images/decorated-line.png' %}" alt="line decoraction"></div>
                <p class="lead text-center" style="font-weight: 400;">From pilgrimage to wildlife and from adventure to leisure- View some Glimpses!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for post in post_list %}
            <div class="col-md-8 mt-3">
                <!-- <div class="row"> -->

                <!-- <div class="col-md-4"> -->
                <div class="card mb-4 h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(195, 191, 191);">
                    <div class="card-header" style="font-weight: 500;">
                        <h2>class="card-title">{{ post.title }}</h2>
                    </div>
                    <a href="{% url 'post_detail' post.slug %}" class="post-link" aria-label="Go to the post detail page">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top" src="" alt="Placeholder_image">
                            {% else %}
                            <img class="card-img-top" src="{{ post.featured_image.url }}" alt="Image uploaded by user">
                            {% endif %}
                        </div>
                    </a>
                    <div class="card-footer text-muted">
                        India having the longest stretch of coastline exhibits some serene beautiful beaches.
                    </div>

                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <!-- </div> -->
                <!-- </div> -->
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif%}
</section>
{% endblock content %}