{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Blog enteries column -->
<section id="hero-section">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3" aria-label="Slide 4"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="4" aria-label="Slide 5"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="5" aria-label="Slide 6"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="{% static 'images/slide/heritage.jpg' %}" style="height: 70vh;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 12, 16, 0.6);">
                    <h2>Incredible <span style="color:#f7e23f;">India</span></h2>
                    <p style="font-size: 1.3rem;">Experience the Essence of India</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/slide/incredible-kerala.jpg' %}" style="height: 70vh;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 12, 16, 0.6);">
                    <h2>Incredible <span style="color:#f7e23f;">India</span></h2>
                    <p style="font-size: 1.3rem;">The backwaters of Kerala for an unparalleled Indian experience</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/slide/manali-trekking.jpg' %}" style="height: 70vh;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 12, 16, 0.6);">
                    <h2>Incredible <span style="color:#f7e23f;">India</span></h2>
                    <p style="font-size: 1.3rem;">The Land of Majestic Mountains and Monks</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/slide/Golden-Temple.jpg' %}" style="height: 70vh;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 12, 16, 0.6);">
                    <h2>Incredible <span style="color:#f7e23f;">India</span></h2>
                    <p style="font-size: 1.3rem;">A holy land where God is worshiped in its various forms</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/slide/national-park.jpg' %}" style="height: 70vh;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 12, 16, 0.6);">
                    <h2>Incredible <span style="color:#f7e23f;">India</span></h2>
                    <p style="font-size: 1.3rem;">The richest land in terms of dense greens, forests, vegetations and exotic wildlife</p>
                </div>
            </div>
            <div class="carousel-item">
                <img src="{% static 'images/slide/Holi.jpg' %}" style="height: 70vh;" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block" style="background-color: rgba(0, 12, 16, 0.6);">
                    <h2>Incredible <span style="color:#f7e23f;">India</span></h2>
                    <p style="font-size: 1.3rem;">The land with rich in dynamic cultural and festivals</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</section>

<section class="bg-success p-4 text-dark bg-opacity-10" id="destination">
    <!-- <a name="destination/"></a> -->
    <div class="container">
        <div class="row d-flex flex-wrap">
            <div class="col-md-12">
                <h2 class="text-center"><span style="color:#03736d;">Destinations</span> Tours In India</h2>
                <div class="text-center">
                    <img src="{% static 'images/decorated-line.png' %}" alt="line decoraction"></div>
                <p class="lead text-center" style="font-weight: 400;">From pilgrimage to wildlife and from adventure to leisure- View some Glimpses!</p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mt-3 left">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <a href="{% url 'destinations' %}" class="post-link" aria-label="Go to the destinations page">
                                <div class="card-header" style="font-weight: 500;">
                                    <h2>Beaches</h2>
                                </div>
                                <img src="{% static 'images/beach.png' %}" class="card-img" alt="Beach image">
                            </a>
                            <div class="card-footer text-muted">
                                India having the longest stretch of coastline exhibits some serene beautiful beaches.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Hill Station</h2>
                            </div>
                            <img src="{% static 'images/hill_station.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                India has abundant hill stations spread all over the country that makes for a tranquil and picturesque destination for tourists.
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Historical</h2>
                            </div>
                            <img src="{% static 'images/historical-places.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                From palaces and forts to temples and monuments, many historic places in India reveal stunning craftsmanship.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Adventure</h2>
                            </div>
                            <img src="{% static 'images/river-rafting.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                India is one of those few countries, which offer something for all sorts of adventure seekers.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Wildlife</h2>
                            </div>
                            <img src="{% static 'images/wildlife.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                Explore India's National Parks to spot diverse animal life, including tigers, leopards, rhinos, birds and river dolphins.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Museam and Art Gellerie</h2>
                            </div>
                            <img src="{% static 'images/museam.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                Visit to a museum of the city that reflects the culture and history of ancient India in a most beautiful way.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100 text-center text-dark" style="box-shadow: 1px 1px 5px 3px  rgb(245, 196, 196);">
                            <div class="card-header" style="font-weight: 500;">
                                <h2>Festivals and Parades</h2>
                            </div>
                            <img src="{% static 'images/holi-image.jpg' %}" class="card-img" alt="Beach image">
                            <div class="card-footer text-muted">
                                India’s vibrant character and a diverse ethnicity are revealed in its colorful fairs and festivals celebrated all over the country.
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif%}
    </div>
</section>
{% endblock %}