{% extends "base.html" %}
{% block title %} Welcome {{user.username}} !{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<br>
<div>
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2 class="text-center display-6 fw-bold text-dark" id="user"> Welcome {{user.username}} !</h2>
                <hr>
            </div>
        </div>
    </div>
    <div class="container text-center mt-4">
        <div class="text-dark">
            <p class="fw-bold">What brings you here today. Would you like to share a new post?
            </p>
        </div>
        <div class="mt-4 mb-5">
            <a href="{% url 'add-post' %}" role="button" type="submit" class="btn btn-success text-white">
                Add Post!
            </a>
        </div>
    </div>
</div>
{% endblock %}